# Binaries & build dirs
/bin/
/build/
/dist/
/out/
/tmp/
node_modules/
coverage/

# Logs
*.log
logs/


# Generated code & docs
**/swagger/*
**/openapi/*
**/*.swagger.json
**/*.openapi.json
**/*.pb.go
**/*.gw.go
**/mock_*/*
**/mocks/*


# Env & secrets (use .env.example)
.env
.env.*
.envrc
.secret
secrets/*.json


# IDE & editor junk
.idea/
.vscode/
*.code-workspace


# OS junk
.DS_Store
Thumbs.db


# Docker & local state
**/docker-data/
**/.docker/
**/.cache/
**/.tmp/
